.note {
    border: 1px solid black;
    margin: 16px;
    width: 100%;
}

.content {
    margin: 16px;
    font-size: 16px;
    max-width: 50vw;
    word-wrap: break-word;
}

.edit-text{
    width: 90%;
}